

:root {
    --color-principal: #385f5b;
    --color-fondo-claro: #f2f4f3;
    --color-fondo-oscuro: #1e1e1e;
    --color-texto-primario: #222222;
    --color-texto-secundario: #6c757d;
    --color-acento: #00b4d8;
}


header{
    background-color: var(--color-fondo-oscuro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo a img{
    height: 100px;
    
}

header nav .menu {
    justify-content: center; 
    align-items: center;    

}

header nav ul a{
    color: var(--color-principal);
    font-size: 20px;
    text-decoration: none;
    background-color: var(--color-fondo-claro);
    height: 50px;

}

h1{
    font-family: "Exo_2";
    font-weight: 900;
}

p{
    font-family: "Sono";
    font-weight: 500;
    color: var(--color-texto-primario);
}